<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="Console" encoding="utf-8" layout="${message}" />
    <target name="udp" xsi:type="NLogViewer" encoding="utf-8" address="udp4://localhost:7071" />
    <target name="tcp" xsi:type="NLogViewer" encoding="utf-8" address="tcp4://localhost:4505" />
    <target name="log4jfile" xsi:type="File" encoding="utf-8" fileName="${basedir}/log/log4jfile.log" layout="${log4jxmlevent}" />
    <target name="file" xsi:type="File" encoding="utf-8" fileName="${basedir}/log/patternFile.log" layout="${longdate} [${threadid}] ${pad:padding=-5:fixedlength=true:inner=${level:uppercase=true}} ${logger} - ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="tcp" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--<logger name="*" minlevel="Trace" writeTo="log4jfile" />-->
  </rules>
</nlog>
