<?xml version="1.0" encoding="utf-8" ?>

<!-- This section contains the log4net configuration settings -->
<log4net>

  <!-- Setup the root category, add the appenders and set the default priority -->
  <root>
    <level value='all'/>
    <appender-ref ref='traceAppender' />  
    <appender-ref ref='rollingFileError' />
    <appender-ref ref='rollingFileAll' />
  </root>

  <appender name="traceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender> 

  <appender name="rollingFileAll" type="log4net.Appender.RollingFileAppender,log4net" >

    <File value="log/All.log" />
    <Encoding value="utf-8" />
    <AppendToFile value="true" />
    <RollingStyle value="Composite" />
    <DatePattern value=".yyyy.MM.dd.'log'" />
    <MaximumFileSize value="20MB" />
    <maxSizeRollBackups value="10" />
    <!--file number increase after the file's size exceeds the MaximumFileSize.-->
    <CountDirection value="1" />   
    <StaticLogFileName value="true" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="rollingFileError" type="log4net.Appender.RollingFileAppender,log4net" >
    <File value="log/Error.log" />
    <Encoding value="utf-8" />
    <AppendToFile value="true" />
    <RollingStyle value="Composite" />
    <DatePattern value=".yyyy.MM.dd.'log'" />
    <MaximumFileSize value="20MB" />
    <maxSizeRollBackups value="10" />
    <!--file number increase after the file's size exceeds the MaximumFileSize.-->
    <CountDirection value="1" />   
    <StaticLogFileName value="true" />
    
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="Error" />
      <!--<levelMax value="FATAL" />-->
    </filter>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
 
</log4net>
